.switch:hover {
  transform: scale3d(1.2, 1.2, 1.2);
}

.switch {
  transition: all 1s ease-in-out;
}

.switch:hover svg {
  animation: rotate 6s infinite ease-in-out;
}

.switch svg {
  transition: all 1s ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-70deg);
  }
  100% {
    transform: rotate(0deg);
  }
}